.CategotyCard {
    width: 21rem;
    margin: .5rem;
    opacity: 0.85;
}
.CategotyCard:hover {
    width: 20.5rem;
    margin: .5rem;
    opacity: 1;
    cursor: pointer;
    transition: all .3s;
}
.catagoryDiv{
    width: 350px;
    margin: 0px;
}